# dependencies
node_modules
client/node_modules
server/node_modules

# build outputs
dist
client/dist

# env
.env
.env.local

# logs
npm-debug.log*

# test coverage
coverage
*.lcov
client/coverage
server/coverage

# test temp files
server/test-temp